.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*自定义样式*/

body {
  background: #fc0;
  padding: 0;
  margin: 0;
}

h1,
h2,
p,
ul,
li {
  font-family: Arial, Helvetica, sans-serif;
}

ul li {
  display: inline-block;;
  padding: 20px;
  list-style: none;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
ul {
  background: #111;
  padding: 0;
}
.content {
  background: #fff;
  color: #f00;
}